################################################################################
#
#   The following variables are defines thes path of symbols of ADS
#
################################################################################
#RDS_SBC35_SYMBOL={$RDS_ADSLIBS}/sbc35/devices/symbols
#RDS_SBC35QX_SYMBOL={$RDS_ADSLIBS}/sbc35qx/devices/symbols
RDS_C05HA_SYMBOL={$RDS_ADSLIBS}/c05ha/devices/symbols
RDS_HBT2PA_SYMBOL={$RDS_ADSLIBS}/hbt2pa/devices/symbols
RDS_HBT3_PA_SYMBOL={$RDS_ADSLIBS}/hbt3_pa/devices/symbols
RDS_B25M_SYMBOL={$RDS_ADSLIBS}/b25m/devices/symbols
RDS_ADS_GENERIC_SYMBOL={$RDS_ADSLIBS}/ads_generic/devices/symbols

################################################################################
#
#   The following variables are latest version of models supported in RDS
#
################################################################################
hbt2pa_ADS_MODEL_VER=v2.2
hbt3_pa_ADS_MODEL_VER=v1.0
c05ha_ADS_MODEL_VER=v1.1
#sbc35_ADS_MODEL_VER=v2.0
#sbc35qx_ADS_MODEL_VER=v2.2
b25m_ADS_MODEL_VER=v1.0

################################################################################
#
#   RDS_ADS_LIBS    -   specify the location of the adslibs
#
################################################################################
#
#   RDS_ADS_LIBS={$RDS_ADSLIBS}
#           is the default value        
#
################################################################################

RDS_ADS_LIBS={$RDS_ADSLIBS}

################################################################################
#
#   RDS_ADS_TECHS   - specifiy the technology to be used in the ADS  
#
################################################################################
#
#   RDS_ADS_TECHS={$RDS_ADS_TECH} 
#           is the default value
#
#   RDS_ADS_TECHS={$RDS_ADS_TECH}:ads_generic:b25m:hbt2pa:hbt3_pa:c05ha:sbc35:sbc35qx
#           is the setting for all possible technologies in RDS
#   
################################################################################

RDS_ADS_TECHS=ads_generic:{$RDS_ADS_TECH}
#RDS_ADS_TECHS=ads_generic:hbt2pa:hbt3_pa:sbc35

################################################################################
#
#   RDS_TECH_SYMBOL -   specify the path of the library symbols
#
################################################################################
#
#   RDS_TECH_SYMBOL={$RDS_ADSLIBS}/{$RDS_ADS_TECH}/devices/symbols
#           is the default value
#        
#   RDS_TECH_SYMBOL={%RDS_ADS_GENERIC_SYMBOL}:{%RDS_B25M_SYMBOL}:{%RDS_HBT3_PA_SYMBOL}:{%RDS_HBT2PA_SYMBOL}:{%RDS_C05HA_SYMBOL}:{%RDS_SBC35_SYMBOL}:{%RDS_SBC35QX_SYMBOL}
#           is the setting for all possible technologies in RDS
#
################################################################################
#
#   The following change the following settings.
#
################################################################################

RDS_TECH_SYMBOL={%RDS_ADS_GENERIC_SYMBOL}:{$RDS_ADSLIBS}/{$RDS_ADS_TECH}/devices/symbols
#RDS_TECH_SYMBOL={%RDS_ADS_GENERIC_SYMBOL}:{%RDS_HBT3_PA_SYMBOL}:{%RDS_HBT2PA_SYMBOL}:%RDS_SBC35_SYMBOL}

################################################################################
#
#   RDS_TEMPLATE_DIR    -   specify the path for the templates
#
################################################################################
#
#   RDS_TEMPLATE_DIR={$RDS_ADSLIBS}/{$RDS_ADS_TECH}/templates
#           is the default value    
#
################################################################################
#
#   environment for the templates to be used in ADS
#
################################################################################

RDS_TEMPLATE_DIR={$RDS_ADSLIBS}/{$RDS_ADS_TECH}/templates
#RDS_TEMPLATE_DIR={$RDS_ADSLIBS}/hbt3_pa/templates:{$RDS_ADSLIBS}/hbt2_pa/templates:{$RDS_ADSLIBS}/sbc35/templates


################################################################################
#
#   Don't change the settings after this line.
#
################################################################################

################################################################################
#
#   environment variables of de_sim.cfg
#
################################################################################

HOME_CIRCUIT_SYMBOLS={$HOME}/hpeesof/{%PROJECT1}/symbols:{%RDS_TECH_SYMBOL}:{$TQTRX_DIR}/circuit/symbols
HOME_DE_AEL={$HOME}/hpeesof/{%PROJECT3}/ael:{$RDS_ADSLIBS}/de/ael:{$TQTRX_DIR}/de/ael
CIRCUIT_TEMPLATE_PATH={%RDS_TEMPLATE_DIR};{%CIRCUIT_TEMPLATE_DIR};{$HPEESOF_DIR}/custom/{%PROJECT1}/templates;{%SYSTEM_CIRCUIT_TEMPLATE_DIR}
USER_AEL=rds:DEV_AEL
